<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" routerLink="/home" routerLinkActive="active"><img width="200" height="50"
      class="d-inline-block align-top" alt="" src="../../assets/img/logo.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-book fa-fw" aria-hidden="true"></i>
          {{'menu.project' | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div *ngIf="accesCO2">
            <a class="dropdown-item" routerLink="/co2" routerLinkActive="active">CO 2</a>
          </div>
          <div *ngIf="accesDSLPR">
            <a class="dropdown-item" routerLink="/dslpr" routerLinkActive="active">DSLPR</a>
          </div>
          <div *ngIf="accessTopAlliance">
            <a class="dropdown-item" routerLink="/top_alliance" routerLinkActive="active">TOP ALLIANCE</a>
          </div>
          <div *ngIf="accesMonitoring">
            <a class="dropdown-item" routerLink="/monitoring" routerLinkActive="active">MONITORING</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active" *ngIf="isAdmin"> <i class="fa fa-users"></i>
          {{'menu.user_manager' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parameter" routerLinkActive="active" *ngIf="isAdmin">
          <i class="fa fa-cog fa-fw" aria-hidden="true"></i> {{'menu.setting' | translate}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-language" aria-hidden="true"></i>
          {{'menu.language' | translate}}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="#" class="dropdown-item" (click)="switchingLanguage('fr')">FR &nbsp;
              <img src="../../assets/img/fr.png" width="20" height="15" alt="">
            </a>
            <a href="#" class="dropdown-item" (click)="switchingLanguage('en')">EN &nbsp;
              <img src="../../assets/img/en.png" width="20" height="15" alt="">
            </a>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout" routerLinkActive="active">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          {{'menu.logout' | translate}}</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="{{'label.search' | translate}}">
      <button class="btn btn-secondary" type="submit"><i class="fa fa-search-minus" aria-hidden="true"></i>
        {{'label.search' | translate}}</button>
    </form>-->
  </div>
</nav>