<div class="container-fluid">
  <h2 class="text-center">{{'title.parameter' | translate}}</h2>

  <div class="alert alert-success" role="alert" *ngIf="isSuccess" data-auto-dismiss="5">
    {{message}}
  </div>

  <div class="row my-4 px-3">
    <button class="btn btn-secondary" (click)="openAddParameterModal(templateAddParameter)"><i class="fa fa-plus"
        aria-hidden="true"></i>
    </button>
  </div>

  <div class="row my-4">
    <div class="col-sm-3">
      <input class="form-control form-control-sm" type="text" [(ngModel)]="stringQuery"
        placeholder="{{'label.search' | translate}}" (keyup)="searchSettings()" />
    </div>
  </div>
  <div class="col-9 my-4 px-0">
    <table class="table">
      <thead>
        <tr>
          <th>{{'content.name' | translate}}</th>
          <th class="col-sm-3">{{'content.value' | translate}}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let setting of settings">
          <td>{{ setting.name }}</td>
          <td>{{ setting.value }}</td>
          <td>
            <button class="btn btn-secondary"
              (click)="openEditParameterModal(templateEditParameter, setting.id, setting.name, setting.value, setting.isCrypt)">
              <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="openDeleteParameterModal(templateDeleteParameter, setting.id)">
              <i class="fa fa-trash-o fa-fw" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- table pagination-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" *ngIf="totalPages > 1">
      <li class="page-item" *ngIf="!first">
        <a class="page-link" aria-label="Previous" (click)="previousPage()">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let page of totalPagesArray">
        <a class="page-link" (click)="goToPage(page)">
          {{page}}
        </a>
      </li>
      <li class="page-item" *ngIf="!last">
        <a class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <ng-template #templateAddParameter>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'title.add_parameter' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--<form>-->
      <div class="form-group">
        <label for="name"> {{'content.name' | translate}}</label>
        <input class="form-control" type="text" placeholder="{{'content.name' | translate}}" id="name"
          [(ngModel)]="nameAdd" name="name" [ngModelOptions]="{standalone: true}" required>
      </div>
      <div class="form-group">
        <label for="value"> {{'content.value' | translate}}</label>
        <input class="form-control" type="text" placeholder="{{'content.value' | translate}}" id="value"
          [(ngModel)]="valueAdd" name="value" [ngModelOptions]="{standalone: true}" required>
      </div>
      <div class="form-group">
        <input type="checkbox" name="isCryptAdd" [(ngModel)]="isCryptAdd"> {{'form.encrypt' | translate}}<br>
      </div>
      <div class="text-center">
        <span class="col-sm-4">
          <button (click)="createOrUpdateSetting(true)" class="btn btn-secondary"><i class="fa fa-floppy-o"
              aria-hidden="true"></i></button>
        </span>
        <span class="col-sm-4">
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()"><i class="fa fa-ban"
              aria-hidden="true"></i></button>
        </span>
      </div>
      <!--</form>-->
    </div>
  </ng-template>

  <ng-template #templateDeleteParameter>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'form.confirm_delete_parameter' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <span class="col-sm-4">
          <button (click)="deleteSetting()" class="btn btn-secondary">{{'form.yes' | translate}}</button>
        </span>
        <span class="col-sm-4">
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()">{{'form.no' | translate}}</button>
        </span>
      </div>
    </div>
  </ng-template>

  <ng-template #templateEditParameter>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{'title.edit_parameter' | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!--<form>-->
      <div class="form-group">
        <label for="name"> {{'content.name' | translate}}</label>
        <input class="form-control" type="text" placeholder="{{'content.name' | translate}}" id="nameEdit"
          [(ngModel)]="nameEdit" name="name" [ngModelOptions]="{standalone: true}" required>
      </div>
      <div class="form-group">
        <label for="value"> {{'content.value' | translate}}</label>
        <input class="form-control" type="text" placeholder="{{'content.value' | translate}}" id="valueEdit"
          [(ngModel)]="valueEdit" name="value" [ngModelOptions]="{standalone: true}" required>
      </div>
      <div class="form-group">
        <input type="checkbox" name="isCryptEdit" [(ngModel)]="isCryptEdit"> {{'form.encrypt' | translate}}<br>
      </div>
      <div class="text-center">
        <span class="col-sm-4">
          <button (click)="createOrUpdateSetting(false)" class="btn btn-secondary"><i class="fa fa-floppy-o"
              aria-hidden="true"></i></button>
        </span>
        <span class="col-sm-4">
          <button type="button" class="btn btn-danger" (click)="modalRef.hide()"><i class="fa fa-ban"
              aria-hidden="true"></i></button>
        </span>
      </div>
      <!--</form>-->
    </div>
  </ng-template>
</div>