<div class="container">
  <h3 class="text-center">{{'title.welcome' | translate}}</h3>
  <br>
  <br>

  <div *ngIf="accesCO2">
    <a routerLink="/co2" routerLinkActive="active" class="nav-link">
      <div class="renault-background">
        <div class="card-body renault-style"> CO 2</div>
      </div>
    </a>
  </div>
  <br />

  <div *ngIf="accesDSLPR">
    <a routerLink="/dslpr" routerLinkActive="active" class="nav-link">
      <div class="renault-background">
        <div class="card-body renault-style">DSLPR</div>
      </div>
    </a>
  </div>

  <br />
  <div *ngIf="accessTopAlliance">
    <a routerLink="/top_alliance" routerLinkActive="active" class="nav-link">
      <div class="renault-background">
        <div class="card-body renault-style">TOP ALLIANCE</div>
      </div>
    </a>
  </div>

  <br />
  <div *ngIf="accesMonitoring">
    <a routerLink="/monitoring" routerLinkActive="active" class="nav-link">
      <div class="renault-background">
        <div class="card-body renault-style">MONITORING</div>
      </div>
    </a>
  </div>

  <br />
</div>